.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding-top: 50px;
    gap: 50px;
}


@media (max-width: 600px) {
    .button-bar {
        flex-wrap: wrap;
    }

    .button {
        flex-basis: calc(50% - 5px);
        margin-bottom: 10px;
    }
}