body {
    background-color: #03067B;
    color: white;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container-wrapper {
    padding: 3% 10%;
    box-sizing: border-box;
}