.footer-section {
    display: inline-block;
    overflow: hidden;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    margin-top: auto;
    background-image: url('/footer.svg');
    background-size: cover;
}

.footer {
    padding: 5% 10%;
}

.footer-logos {
    display: flex;
    justify-content: start;
    gap: 20px;
    padding: 30px 0px;
}

.footer-bg {
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.text-container {
    width: 80%;
}

@media (max-width: 600px) {
    .footer-bg {
        width: 500%;
    }

    .footer-logos {
        flex-wrap: wrap;
    }

    .footer-logos img {
        flex-basis: calc(20% - 5px);
        margin-bottom: 10px;
    }
}